body{
  margin: 0;
  padding: 0;
  background-color: rgb(199, 198, 198);
}


.button-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  margin-top: 20px; /* Add some space between cards and buttons */
}

button {
  margin: 0 10px;
  width: 150px;
  height: 30px;
  background-color: rgb(182, 182, 182);
  border-color: grey;
}

.Header {
color: rgb(169, 168, 168);
background-color: rgb(106, 16, 16);
padding: 25px;
display: flex;
justify-content: center;
align-items: center;
margin: 0px;
}

