/* StudentsPage.css */
.students-page-container {
    background-color: #f0f8ff;
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    justify-content: flex-start; /* Align content to the top */
    color: #2c3e50;
    text-align: left;
  }
  
  .students-page-title {
    font-size: 2em; /* Smaller font size */
    font-weight: bold;
    color: #2980b9;
    margin-bottom: 20px;
  }
  
  .students-page-description {
    font-size: 1.2em; /* Reduced font size */
    color: #34495e;
    max-width: 700px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .students-back-button {
    padding: 10px 20px;
    font-size: 1em; /* Smaller font size */
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center-align text in the button */
  }
  
  .students-back-button:hover {
    background-color: #c0392b;
  }
  